@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Student>

<h1 class="display-6">Student List</h1>

<table class="table table-bordered border-dark">
    <tr class="table-warning table-bordered border-dark ">
        <td><b>Name</b></td>
        <td><b>Email</b></td>
        <td><b>Course</b></td>
        <td><b>GPA</b></td>
        <td><b>Date Enrolled</b></td>
        <td><b>Details</b></td>
        <td><b>Edit</b></td>
        <td><b>Delete</b></td>
    </tr>

    @foreach (var Student in Model)
    {
        <tr>
            <td>@Student.StudentFirstName @Student.StudentLastName</td>
            <td>@Student.Email</td>
            <td>@Student.StudentCourse</td>
            <td>@Student.GPA</td>
            <td>@Student.DateEnrolled</td>
            <td><a class="btn btn-outline-success btn-sm d-flex justify-content-center" asp-action="ShowDetails" asp-route-Id="@Student.StudentId">Show Details</a></td>
            <td><a class="btn btn-warning btn-sm d-flex justify-content-center" asp-action="UpdateStudent" asp-route-Id="@Student.StudentId">Update</a></td>
            <td><a class="btn btn-danger btn-sm d-flex justify-content-center" asp-action="Delete" asp-route-Id="@Student.StudentId">Delete</a></td>
        </tr>
    }

</table>
<a class="btn btn-success" asp-action="AddStudent">Add Student</a>

