@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Student

<h4 class="display-6">Student Details</h4>

<table class="table table-bordered border-dark">
    <tr>
        <th class="table-success table-bordered border-dark">Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">First Name</th>
        <td>@Model.StudentFirstName</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">Last Name</th>
        <td>@Model.StudentLastName</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">Course</th>
        <td>@Model.StudentCourse</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">GPA</th>
        <td>@Model.GPA</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th class="table-success table-bordered border-dark">Date Enrolled</th>
        <td>@Model.DateEnrolled</td>
    </tr>
</table>

<a class="btn btn-success" asp-action="Index" style="vertical-align: middle">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" style="vertical-align:middle">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
    </svg>
    Back
</a>

