@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Instructor>


<h1 class="display-6">Instructor List</h1>
<table class="table table-bordered border-dark">
    <tr class="table-dark">
        <td><b>Name</b></td>
        <td><b>Status</b></td>
        <td><b>Rank</b></td>
        <td><b>Hiring Date</b></td>
        <td><b>Details</b></td>
        <td><b>Edit</b></td>
        <td><b>Delete</b></td>
    </tr>

    
        @foreach(var Instructor in Model)
        {
        string status = "";
        if (Instructor.IsTenured)
        {
            status = "Permanent";
        }
        else if (Instructor.IsTenured== false)
        {
            status = "Probationary";
        }
        <tr>
            <td>@Instructor.FirstName @Instructor.LastName</td>
            <td>@status</td>
            <td>@Instructor.Rank</td>
            <td>@Instructor.HiringDate</td>
            <td><a class="btn btn-outline-success btn-sm d-flex justify-content-center" asp-action="ShowDetails" asp-route-Id="@Instructor.Id">Show Details</a></td>
            <td><a class="btn btn-warning btn-sm d-flex justify-content-center" asp-action="UpdateInstructor" asp-route-Id="@Instructor.Id">Update</a></td>
            <td><a class="btn btn-danger btn-sm d-flex justify-content-center" asp-action="Delete" asp-route-Id="@Instructor.Id">Delete</a></td>
        </tr>
        }
    

</table>
<a class="btn btn-success" asp-action="AddInstructor">Add Instructor</a>